[submodule "third-party/googletest"]
	path = third-party/googletest
	url = https://github.com/google/googletest
[submodule "libeigen"]
	path = libeigen
	url = https://github.com/eigenteam/eigen-git-mirror.git
